@model Cookbook.Models.AddWrapper;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">   
    <style>
        .recipeform {
            background-image: url("https://img.thrfun.com/img/176/353/stainless_steel_pot_x3.jpg");
            background-repeat: no-repeat;
            background-color: black;
            border-radius: 10px;
            background-size:100%;
            height: 700px;
            width: 100%;
            margin: 60px 0px 20px 0px;
            color: black;
            padding: 75px 75px 35px 75px;
        }

        .inputboxes {
            border-radius: 10px;
            border: 2px solid black;
        }

        .addbutton {
            color: black;
            border-radius: 10px;
            border: 2px solid black;
        }
        .recipeformcontent {
            margin-left: 100px;
            width: 340px;
        }
        .container {
            background-color: black;
            border-radius: 10px;
        }
        body, html {
        height: 100%;
        margin: 0;
        font-family: Courier, monospace;
        }
    </style>
    <title>New Recipe</title>
</head>
<body data-spy="scroll" data-target=".navbar" >
        @* ******************This is the nav tabs on top of the page*************** *@
    <div class="container">
        <nav class="navbar-inverse navbar-fixed-top">
            <ul class="nav nav-tabs nav-left-justified">
                <li id="home" ><a data-toggle="tab" href="/main">Home</a></li>
                <li id="add" class="active"><a data-toggle="tab" href="newrecipe">Add New Recipe</a></li>
                <li id="saved"><a data-toggle="tab" href="/savedRecipes">Saved Recipes</a></li>
                <li id="edit"><a data-toggle="tab" href="/editUser/@Model.RegisterUser.UserId">Edit Profile</a></li>
                <li id="logout"><a data-toggle="tab" href="/logout">Log Out</a></li>
            </ul>
        </nav> 
        <div class = "recipeform">
            
            <h1>@Model.RegisterUser.FirstName, Add a New Recipe:</h1>
            <div class = "recipeformcontent">
                <form asp-controller="Home" asp-action="CreateRecipe" method="POST">
                    <input type="hidden" asp-for="@Model.Recipe.CreatorId" value="@Model.RegisterUser.UserId"/>
                    <span asp-validation-for="@Model.Recipe.RecipeName"></span>
                    <label>Name of your Recipe:</label>
                    <br>
                    <input class = "inputboxes" asp-for="@Model.Recipe.RecipeName"/>
                    <br>
                    <span asp-validation-for="@Model.Recipe.RecipeImage"></span>
                    <label>Please provide an image:</label>
                    <br>
                    <input class = "inputboxes" asp-for="@Model.Recipe.RecipeImage"/>
                    <br>
                    <span asp-validation-for="@Model.Recipe.RecipeDuration"></span>
                    <label> How long does your recipe take to make?</label>
                    <br>
                    <input class = "inputboxes" asp-for="@Model.Recipe.RecipeDuration"/>
                    <br>
                    <br>
                    <input class="addbutton" type="submit" value="Add a New Recipe"/>
                </form>
            </div>
        </div>
    </div>
    

</body>
</html>