@model Cookbook.Models.UserPageWrapper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">   
    <link rel="stylesheet" type="text/css" href="css/style.css" >
    <title>Edit User</title>
    <style>
        .container{
            margin-top: 100px;
            background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1414,w_2101,x_10,y_0/v1564595422/shape/mentalfloss/94002-gettyimages-911458892.jpg?itok=S6EI56ji");
            background-repeat: no-repeat;
            background-size: cover;
            width: 1500px;
            height: 1200px;
        }
        body, html {
            height: 100%;
            margin: 0;
            font-family: Courier, monospace;
            background-color: black;
        }
        .profile {
            margin-top: 300px;
            margin-right: 150px;
            width: 480px;
            height: 240px;
            border: 2px black solid;
            border-radius: 15px;
            background-color: white;
            padding: 0px 15px 15px 25px;
            display: inline-block;
            float: right;
            box-shadow: 5px 5px 3px 5px #888888;
        }
        .form {
            margin-left: 30px;
            margin-top: 15px;
        }

        input {
            float: right;
            margin-right: 70px;
        }
        .list {
            margin-top: 100px;
            margin-left: 150px;
            width: 480px;
            height: 700px;
            border: 2px black solid;
            border-radius: 15px;
            background-color: white;
            padding: 0px 15px 15px 25px;
            text-align: center;
            vertical-align: center;
            display: inline-block;
            overflow: auto;
            box-shadow: 5px 5px 3px 5px #888888;
        }
        img {
            width: 50px;
            height: 50px;
            display: inline-block;
            border-radius: 50%;
            float: left;
            margin-left: 50px;
        }
        h4 {
            display: inline-block;
            float: left;
            margin-left: 25px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    @* ******************This is the nav tabs on top of the page*************** *@
    <nav class="navbar-inverse navbar-fixed-top">
        <ul class="nav nav-tabs nav-left-justified">
            <li id="home" ><a data-toggle="tab" href="/main">Home</a></li>
            <li id="add"><a data-toggle="tab" href="/newrecipe">Add New Recipe</a></li>
            <li id="saved"><a data-toggle="tab" href="/savedRecipes">Saved Recipes</a></li>
            <li id="edit" class="active"><a data-toggle="tab" href="/editUser/@Model.RegisterUser.UserId">Edit Profile</a></li>
            <li id="logout"><a data-toggle="tab" href="/logout">Log Out</a></li>
        </ul>
    </nav>  

    <div class="container">
        <div class = "list">
            <h2>Your Recipes:</h2>
            <div>
                @foreach(var recipe in @Model.MyRecipes)
                {
                    <div>
                        <img src="@recipe.RecipeImage"/>
                        <h4><a href="/editrecipe/@recipe.RecipeId">@recipe.RecipeName</a> - @recipe.RecipeDuration Minutes</h4>
                    </div>
                }
            </div>
        </div>
        <div class = "profile">

            <h3>Edit your profile information</h3>
            <form asp-controller="Home" asp-action="EditThisUser" asp-route-userId="@Model.RegisterUser.UserId" method="POST" class="form">
                <div class="form-group row">
                    <span asp-validation-for="@Model.RegisterUser.FirstName"></span>
                    <label asp-for="@Model.RegisterUser.FirstName">First Name: </label>
                    <input type="text" asp-for="@Model.RegisterUser.FirstName" placeholder="@Model.RegisterUser.FirstName"/>
                </div>
                <div class="form-group row">
                    <span asp-validation-for="@Model.RegisterUser.LastName"></span>
                    <label asp-for="@Model.RegisterUser.LastName">Last Name: </label>
                    <input type="text" asp-for="@Model.RegisterUser.LastName" placeholder="@Model.RegisterUser.LastName"/>
                </div>
                <div class="form-group row">
                    <span asp-validation-for="@Model.RegisterUser.Email"></span>
                    <label  asp-for="@Model.RegisterUser.Email">Email: </label>
                    <input type="text" asp-for="@Model.RegisterUser.Email" placeholder="@Model.RegisterUser.Email"/>
                </div>

                <div class="form-group row">
                    <input class="btn btn-primary" type="submit" value= "Update Profile">
                </div>
            </form>
        </div>


    </div>
    
</body>
</html>